@page "/"
@layout PublicLayout

<div class="row mt-5">

    <div class="col-lg-4 offset-lg-4 border">

        <div class="mb-3 text-center">
            <h3>Muchik Market</h3>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input class="form-control" type="text"/>
        </div>

        <div class="mb-3">
            <label>Contraseña</label>
            <input class="form-control" type="password"/>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Login</button>
        </div>

    </div>

</div>

@code {

}
