@page "/products"
@inject ILogger<Products> _logger;
@inject NavigationManager _navigationManager;
@inject IJSRuntime _jsRuntime;
@inject IMuchikMarketService _muchikMarketService;

@attribute [Authorize]

@if (loading)
{
	<h5>Cargando...</h5>
}
else
{
	if (products.Count > 0)
	{
		<h1>🛒 Productos</h1>
		<br />
		<div class="text-end">
			<button class="btn btn-dark" @onclick="@(() => _navigationManager.NavigateTo("/addProduct"))">Agregar Producto</button>
			<button class="btn btn-dark" @onclick="ExportProducts">Exportar Excel</button>
		</div>
		<br />
		<div class="row">
			@foreach (var product in products)
			{
				<div class="col-sm-3 mb-3">
					<div class="card">
						<img class="card-img-top" src="@product.ImageUrl" alt="Character" loading="lazy" width="270" height="210" />
						<div class="card-body">
							<b class="card-title">@product.Brand.Name</b>
							<p class="card-text">@(product.Name.Length > 23 ? (product.Name.Substring(0, 20) + "...") : product.Name)</p>
						</div>
						<div class="card-footer text-end">
							<a href="#" class="btn btn-success"><span class="oi oi-plus" aria-hidden="true"></span> Agregar</a>
						</div>
					</div>
				</div>
			}						
		</div>
	}
	else
	{
		<h5>No hay productos para mostrar.</h5>
	}
}

@code {
	private bool loading = true;
	private List<Product> products { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		products = await GetProducts();
		loading = false;
	}

	private async Task<List<Product>> GetProducts()
	{
		return await _muchikMarketService.GetProducts();
	}

	private async Task ExportProducts()
	{
		using(var book = new XLWorkbook())
		{
			var workSheet = book.Worksheets.Add("products");

			workSheet.Cell(1, 1).Value = "Id";
			workSheet.Cell(1, 2).Value = "Marca";
			workSheet.Cell(1, 3).Value = "Categoría";
			workSheet.Cell(1, 4).Value = "SKU";
			workSheet.Cell(1, 5).Value = "Producto";
			workSheet.Cell(1, 6).Value = "Precio";

			for(var row=1; row<=products.Count; row++)
			{
				workSheet.Cell(row + 1, 1).Value = products[row - 1].Id;
				workSheet.Cell(row + 1, 2).Value = products[row - 1].Brand.Name;
				workSheet.Cell(row + 1, 3).Value = products[row - 1].Category.Name;
				workSheet.Cell(row + 1, 4).Value = products[row - 1].Sku;
				workSheet.Cell(row + 1, 5).Value = products[row - 1].Name;
				workSheet.Cell(row + 1, 6).Value = products[row - 1].Price.ToString();
			}

			using (var memoryStream = new MemoryStream())
			{
				book.SaveAs(memoryStream);
				var fileNameExcel = string.Concat("Reporte Productos ", DateTime.Now.ToString(), ".xlsx");

				await _jsRuntime.InvokeAsync<object>(
					"DownloadExcel",
					fileNameExcel,
					Convert.ToBase64String(memoryStream.ToArray())
				);
			}
		}
	}
}
