@page "/"
@inject ILogger<Index> _logger
@inject ISessionStorageService _sessionStorageService

@attribute [Authorize]

<PageTitle>Home</PageTitle>
<AuthorizeView>
	<Authorized>
		<h5>Hola @currentUser.Email, bienvenido a Muchik Market 😎.</h5>
	</Authorized>
</AuthorizeView>

@code {
	private User currentUser = new User();

	protected override async Task OnInitializedAsync()
	{
		currentUser = await _sessionStorageService.GetValueFromSessionStorage<User>("userData");
	}
}