@page "/"

@inject RickAndMortyService _rickAndMortyService;

<PageTitle>Home</PageTitle>

@if (loading)
{
	<h5>Cargando...</h5>
}
else
{
	if (characters.Results.Count > 0)
	{
		<h1>Rick & Morty 🚀</h1>
		<br>
		<div class="products-container">
			@foreach (var character in characters.Results)
			{
				<div class="card">
					<img class="card-img-top" src="@character.Image" alt="Character" loading="lazy" width="270" height="210"/>
					<div class="card-body">
						<h4><b>@character.Name</b></h4>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<h5>No hay personajes para mostrar.</h5>
	}
}


@code {

	private bool loading = true;
	private Characters characters { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		characters = await GetCharacters();
		loading = false;
	}

	private async Task<Characters> GetCharacters()
	{
		return await _rickAndMortyService.GetCharacters();
	}
}