@page "/products"
@inject ILogger<Products> _logger;
@inject MuchikMarketService _muchikMarketService;

@if (loading)
{
	<h5>Cargando...</h5>
}
else
{
	if (products.Data.Count > 0)
	{
		<h1>🛒 Productos</h1>
		<br>
		<div class="products-container">
			@foreach (var product in products.Data)
			{
				<div class="card">
					<img class="card-img-top" src="@product.ImageUrl" alt="Character" loading="lazy" width="270" height="210" />
					<div class="card-body">
						<h4><b>@product.Name</b></h4>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<h5>No hay productos para mostrar.</h5>
	}
}

@code {
	private bool loading = true;
	private muchik.market.web.Models.Products products { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		products = await GetProducts();
		loading = false;
	}

	private async Task<muchik.market.web.Models.Products> GetProducts()
	{
		return await _muchikMarketService.GetProducts();
	}
}
