@inherits LayoutComponentBase

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager _navManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a @onclick="Logout" href="javascript:void(0)">Cerrar Sesión</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts />

@code{
    private async Task Logout()
    {
        var authenticationHelper = (AuthenticationHelper)authenticationStateProvider;
        await authenticationHelper.UpdateStateFromAuthentication(null);
        _navManager.NavigateTo("/login");
    }
}